*{
  margin: 0;
  padding: 0;
}

:root {

  --green:#0bcc6a;
  --brown:#746936;
  --soft-green:#eceeec;
  --dark-green:#b3b5b5;
  --black:	#0c0c0c;
  --white:#fafafa

}
body{
  font-family: 'Montserrat', sans-serif;
}

