    .container-banner{
        height: 70vh;
        
        width: 100%;
    }
    .container-banner img{
        margin-top: 80px;
        width: 100%;
        height: 90vh;
        
        
    }